.vscode/

*.log

venv/

.idea/

*.*~

dots/

*.pyc

bin/mail_ip/gmail_password.conf.personal

backup
dot/vim-pkg/.vim/.*

.vim
.vimrc
.bashrc
.tmux*

.vagrant

*.sw[po]
.*.sw[po]

.DS_Store
iterm2-colors

dot/env/dyn.env
private/
fonts/
lib/fonts
dot/vim-pkg/.vim/plugged

# git submodules
dot/oh-my-zsh
dot/vim-pkg/.vim/bundle/Vundle.vim

# nix build output
result

# nix-darwin smart-home secrets (see nixos/modules/darwin/smart-home.nix)
nixos/secrets/
