[submodule "dots/oh-my-zsh"]
	path = dots/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "dots/vim/bundle/Vundle.vim"]
	path = dots/vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
