backup
vim/autoload
vim/bundle

.vim
.vimrc
.bashrc
.tmux*
.zshrc

*.swp
.*.swp

# Sublime
sublime/Package\ Control.last-run
sublime/Package\ Control.ca-list
sublime/Package\ Control.ca-bundle
sublime/Package\ Control.system-ca-bundle
sublime/Package\ Control.ca-certs/

