[submodule "dots/vim/bundle/Vundle.vim"]
	path = dots/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "dots/oh-my-zsh"]
	path = dots/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "lib/fonts"]
	path = lib/fonts
	url = https://github.com/powerline/fonts