.vscode/

*.log

venv/

.idea/

*.*~

dots/

*.pyc

bin/mail_ip/gmail_password.conf.personal

backup
dot/vim/.*

.vim
.vimrc
.bashrc
.tmux*
.zshrc

.vagrant

*.sw[po]
.*.sw[po]

.DS_Store
iterm2-colors

dot/env/dyn.env
private/
lib/fonts
dot/vim/plugged

# git submodules
dot/oh-my-zsh
dot/vim/bundle/Vundle.vim
